<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvnxcIPjen2k_gl7EMfm-loXDvdWH8K6g</string>
	<key>GCM_SENDER_ID</key>
	<string>662020882807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project2</string>
	<key>PROJECT_ID</key>
	<string>movietiket-331f5</string>
	<key>STORAGE_BUCKET</key>
	<string>movietiket-331f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662020882807:ios:66e618e69bae34e4e32172</string>
	<key>DATABASE_URL</key>
	<string>https://movietiket-331f5-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>